@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-gray-100 text-gray-900 font-sans;
}

@keyframes clap {
  0%, 100% { 
    transform: rotateX(0deg); 
  }
  50% { 
    transform: rotateX(-25deg); 
  }
}

.clapperboard-top {
  transform-origin: bottom;
  animation: clap 1s ease-in-out infinite;
}